.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.orange-BG{
    background-color: rgba(255, 144, 14, 0.1);
}
.Dark-01{
    color: rgba(19, 19, 19, 1);
}
.Dark-02{
    color: rgba(66, 66, 66, 1);
}
.Dark-03{
    color: rgba(114, 114, 114, 1);
}
.display-flex{
    display: flex;
}
.btn{
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
    background-color: rgba(255, 144, 14, 1);
    border-radius: 8px;
    border: none;
    padding: 20px 25px;
}
 .nav, 
 .banner,
 .Some-facts{
    max-width: 1440px;
    margin: 0 auto;
}
/* header style */
.brand{
    font-size: 3rem;
    font-weight: 700;
}
header nav{
    justify-content: space-between;
    padding: 20px 0px;
    align-items: center;
   
 }
 header ul{
    list-style: none;
    gap: 20px;
 }
 header ul a{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
 }
 .banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
 }
 .banner-title{
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: 10px;
 }
 .banner-description{
    font-size: 1rem;
    margin-bottom: 20px;
 }
.banner img{
    padding-bottom: 50px;
}

/* Some Facts section */
.Some-facts{
    padding: 100px 0px;
}
.Some-facts-heading{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 24px;
}
.Some-facts-description{
    width: 540px;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 80px;
}
.card-box{
    text-align: center;
    align-items: center;
    justify-content: space-around;

}
.facts-card{
    border:1px solid rgba(255, 144, 14, 1);
    border-radius: 8px;
    margin-right: 50px;
    padding: 25px 35px; 
}
.box-heading{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.box-description{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 10px;
}
